<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <!-- pybo CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Hello, pybo!</title>
    </head>
    <body>
        {% include "navbar.html" %}
        <!-- 기본 템플릿에 삽일할 내용 시작 -->
        {%block content %}
        {% endblock %}
        <!-- 기본 템플릿에 삽일할 내용 끝 -->
        <!-- jQuery JS -->
        <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
        <!-- Bootstrap JS-->
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        <!-- 자바스크립트 시작 -->
        {% block script %}
        <script type="text/javascript">
            $(document).ready(function(){
                $(".delete").on('click', function() {
                    if(confirm("정말로 삭제하시겠습니까?")){
                        location.href = $(this).data('uri');
                    }
                });
            });
        </script>
        {% endblock %}
        <!-- 자바스크립트 끝 -->
    </body>
</html>